body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* Sidebar vlevo - fixní umístění */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #575757;
}

/* Hlavní obsah */
.content {
    margin-left: 250px; /* Nech prostor pro sidebar */
    padding: 0 20px; /* Prostor kolem obsahu */
    flex-grow: 1;
}

.main-box {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: auto; /* Vertikální centrování ostatního obsahu */
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    border-radius: 8px 8px 0 0;
    width: calc(100% - 250px); /* Zohledni sidebar vlevo */
    position: fixed; /* Fixní nahoře */
    left: 250px; /* Aby se nepřekrýval se sidebar */
    top: 0;
    box-sizing: border-box;
}

main {
    padding: 140px 20px 20px; /* Odsazení pod header */
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    margin-top: 20px;
}