body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar vlevo - fixní umístění */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #575757;
}

/* Hlavní obsah vedle sidebaru */
.content {
    margin-left: 250px; /* Posun vedle sidebaru */
    padding: 20px;
    background-color: #f9f9f9;
    width: calc(100% - 250px); /* Zajistí správné rozložení */
    overflow-y: auto;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    padding: 20px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}